<form id="loginForm" action="/login" method="POST" onsubmit="Login(event)">
  <label>Email Address</label>
  <input type="email" placeholder="Email Address" name="email"/>
  <label>Password</label>
  <input type="password" name="password"/>
  <button type="submit">Submit</button>
</form>
